<section class="bg-light" style="padding-bottom: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-2 order-lg-1">
        <h1>DeChat</h1>
        <p class="lead">A simple chat that uses SOLID to decentralize the data as much as possible. With this
          chat you are the owner of your information.</p>
        <p>
          <a class="btn btn-primary shadow mr-2" (click)="open(contentModalLogin)">Login and access to the app</a>
          <a href="https://arquisoft.github.io/dechat_es2b/docs/" style="background-color: whitesmoke; color: black" class="btn btn-default shadow mr-2">Documentation</a>
        </p>
        <p class="text-muted mb-5">You need a POD server provider in order to use the chat. You can register to get one in <a href="https://solid.community/register" target="_blank">Solid Community</a> or via <a href="https://inrupt.net/register" target="_blank">Inrupt</a>. There are more ways, even you can create your own Solid server.</p>
      </div>
      <div class="col-lg-4 order-1 order-lg-2"><img
        src="/assets/logo.png"
        alt="App logo" class="img-fluid"></div>
    </div>
  </div>
</section>
<section style="margin: 0 auto; padding: 0px;">
    <video controls width="512px" style="display: block; margin: 0 auto;" autoplay loop>
      <source src="/assets/PromotionalVideo.mp4" />
    </video>
</section>
<section style="padding-top: 2em;">
  <div class="container">
    <h2>SOLID</h2>
    <p class="mb-5" style="margin-bottom: 0px !important;">Solid was created by the creator of the World Wide Web, Sir Tim Berners-Lee. Its mission
      is to reshape the web as we know it. Solid pretends to decentralize the data from the applications.</p>
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-magic-wand"></use>
        </svg>
        <h6>Centralized Web</h6>
        <p class="">The first web browser was also an editor. The idea was pretending to allow everyone to read and modify
          content on the web.</p>
        <p class="">However, when the first browser was popularized, called Mosaic, it
          included multimedia and editing was taken out. It was considered a too difficult problem. This change was the
          first curtailing of the web’s promise and spawned an effort led by Tim and others to get the functionality back.
          It was dubbed the ‘read-write web’ and lead to Richard McManus' seminal article published
          in 2003.</p>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-heart"></use>
        </svg>
        <h6>Recentralizing the Web</h6>
        <p class="">Solid has taken 15 years of development to finally deliver this.</p>
        <p class="">The issue with writing data, as Wikipedia and others have learned, it's that you need a
          certain control over who can write and edit contents. That means you need to have permissions - what can individuals do
          to the data. And to be able to do this you need to have an identity system - a way to ensure
          that an individual is who it purport to be.</p>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-rocket"></use>
        </svg>
        <h6>Linked Data</h6>
        <p class="">The web was always designed to be a space for data as well as files.
          The Linked Data Platform group took this further by creating a standard to work with file systems.
          This combined with the Unix philosophy provide a powerful way to achieve the goal.</p>
        <p class="">The read-write capability and the management of data are the key of the original and strong concept of the web.
          They were unfortunately lost along the way as the web evolved.</p>
      </div>
    </div>
  </div>
</section>

<ng-template #contentModalLogin let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login</h4>
    <button type="button" style="color:black;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      x
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="identityProvider">POD Provider</label>
        <div class="input-group">
          <input id="identityProvider" [(ngModel)]="identityProvider" class="form-control" placeholder="https://yourserver.ext" name="identityProvider"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Login</button>
  </div>
</ng-template>
