<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-2 order-lg-1">
        <h1>DeChat</h1>
        <p class="lead">A simple chat that uses SOLID to try to decentralize the data as much as possible. With this
          chat, you yourself are the owner of your information.</p>
        <p><a href="#" class="btn btn-primary shadow mr-2">Login and access to the app</a></p>
      </div>
      <div class="col-lg-4 order-1 order-lg-2"><img
        src="/assets/logo.png"
        alt="App logo" class="img-fluid"></div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>SOLID</h2>
    <p class="text-muted mb-5">Solid was created by the inventor of the World Wide Web, Sir Tim Berners-Lee. Its mission
      is to reshape the web as we know it. Solid will foster a new breed of applications with capabilities above and
      beyond anything that exists today.</p>
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-magic-wand"></use>
        </svg>
        <h6>Centralized Web</h6>
        <p class="text-muted">The first web browser was also an editor. The idea being that not only could everyone read
          content on the web, but they could also help create it. It was to be a collaborative space for all
          mankind.</p>
        <p class="text-muted">However, when the first browser that popularized the web came along, called Mosaic, it
          included multimedia and editing was taken out. It was considered too difficult a problem. This change was the
          first curtailing of the web’s promise and spawned an effort led by Tim and others to get the write
          functionality back. It was dubbed the ‘read-write web’ and lead to Richard McManus' seminal article published
          in 2003.</p>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-heart"></use>
        </svg>
        <h6>Redecentralizing the Web</h6>
        <p class="text-muted">Solid has taken 15 years of development work to finally deliver this.</p>
        <p class="text-muted">The issue with writing data, as wikipedia and others have learned, is that you need a
          degree of control over who can write what. That means you need to have permissions - what can individuals do
          to the data. And to have permissions you need to have a system for identity - a way of uniquely confirming
          that an individual is who they purport to be.</p>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
        <svg class="lnr text-primary services-icon">
          <use xlink:href="#lnr-rocket"></use>
        </svg>
        <h6>Linked Data</h6>
        <p class="text-muted">At the same time the web was always designed to be a space for data as well as documents.
          The Linked Data Platform group formalized this further by creating a standard for working with file systems,
          which when combined with the Unix philosophy form a powerful way of achieving this. These two principles, of
          read-write capability and managed data accessibility are key to the original and potent concept of the web.
          They were unfortunately lost along the way as the web evolved.</p>
      </div>
    </div>
  </div>
</section>
