<div class="card mb-sm-3 mb-md-0 contacts_card">
  <div class="card-header">
    <div class="input-group">
      <input (ngModelChange)="writeSearch()" [(ngModel)]="search" class="form-control search" name=""
             placeholder="Search..."
             type="text">
      <div class="input-group-prepend">
        <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
      </div>
    </div>
  </div>
  <div class="card-body contacts_body">
    <ul class="contacts">
      <li *ngIf="contacts.length === 0" style="color:white;">Loading...</li>
      <app-contact *ngFor="let contact of contacts" [contact]="contact"
                   (click)="selectContact(contact)"></app-contact>
    </ul>
  </div>
</div>
