<div class="col-md-4 col-xl-3 chat">
  <div class="card mb-sm-3 mb-md-0 contacts_card">
    <div class="card-header">
      <div class="input-group">
        <input type="text" placeholder="Search..." name="" class="form-control search">
        <div class="input-group-prepend">
          <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </div>
    <div class="card-body contacts_body">
      <ul class="contacts">

      </ul>
    </div>
  </div>
</div>
