<div [ngClass]="received ?  'msg_cotainer_send' : 'msg_cotainer'" (click)="showMessageOptions($event)" *ngIf="!message.isMedia" [ngStyle]="received ? {'text-align': 'left'} : {'text-align': 'right'}">
  <span *ngIf="!message.isDeleted">{{message.text}}</span>
  <span *ngIf="message.isDeleted" style="font-style: oblique;">This message has been deleted</span>
  <span class="msg_time" [ngStyle]="received ? {'width': '100px'} : {'right': '0', 'left': 'auto', 'width': '100px'}">{{message.date | date:'dd-MM HH:mm'}}</span>
</div>

<div [ngClass]="received ?  'msg_cotainer_send' : 'msg_cotainer'" (click)="showMessageOptions($event)" *ngIf="message.isMedia && isRepresentable(message)" [ngStyle]="received ? {'text-align': 'left', 'background-color': 'rgba(255,255,255,0)'} : {'text-align': 'right', 'background-color': 'rgba(255,255,255,0)'}">
  <span *ngIf="isAudio(message) && !message.isDeleted"><audio style="border-radius: 25px;" controls><source [src]="message.from.urlPod + 'dechat/files/' + message.text" type="audio/mpeg"><a target="_blank" [href]="message.from.urlPod + 'dechat/files/' + message.text">Your browser does not support audio elements, click to listen!</a></audio></span>
  <span *ngIf="isImage(message) && !message.isDeleted"><a target="_blank" [href]="message.from.urlPod + 'dechat/files/' + message.text"><img style="height: 130px; max-width: 250px; border-radius: 25px;" [src]="message.from.urlPod + 'dechat/files/' + message.text"></a></span>
  <span *ngIf="!received" class="msg_time" [ngStyle]="received ? {'width': '100px'} : {'right': '0', 'left': 'auto', 'width': '100px'}">{{message.date | date:'dd-MM HH:mm'}} <span style="color: #d0021b; background-color: white; cursor: pointer; border-radius: 25px; margin-left: 2px; padding-right: 3px; padding-left: 3px; font-size: 1.2em;">X</span></span>
  <span *ngIf="received" class="msg_time" [ngStyle]="received ? {'width': '100px'} : {'right': '0', 'left': 'auto', 'width': '100px'}">{{message.date | date:'dd-MM HH:mm'}}</span>
</div>

<div [ngClass]="received ?  'msg_cotainer_send' : 'msg_cotainer'" (click)="showMessageOptions($event)" *ngIf="message.isMedia && !isRepresentable(message)" [ngStyle]="received ? {'text-align': 'left'} : {'text-align': 'right'}">
  <span *ngIf="!message.isDeleted"><a target="_blank" [href]="message.from.urlPod + 'dechat/files/' + message.text">Click to see the file (.{{getExtension(message)}})</a></span>
  <span class="msg_time" [ngStyle]="received ? {'width': '100px'} : {'right': '0', 'left': 'auto', 'width': '100px'}">{{message.date | date:'dd-MM HH:mm'}}</span>
</div>

<ng-template #contentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">¿Are you sure?</h4>
    <button type="button" style="color:black;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      x
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Delete message</button>
      </div>
    </form>
  </div>
</ng-template>
