<div [ngClass]="received ?  'msg_cotainer_send' : 'msg_cotainer'" *ngIf="!message.isMedia" [ngStyle]="received ? {'text-align': 'left'} : {'text-align': 'right'}">
  <span>{{message.text}}</span>
  <span class="msg_time" [ngStyle]="received ? {'width': '100px'} : {'right': '0', 'left': 'auto', 'width': '100px'}">{{message.date | date:'dd-MM HH:mm'}}</span>
</div>

<div [ngClass]="received ?  'msg_cotainer_send' : 'msg_cotainer'" *ngIf="message.isMedia && isRepresentable(message)" [ngStyle]="received ? {'text-align': 'left', 'background-color': 'rgba(255,255,255,0)'} : {'text-align': 'right', 'background-color': 'rgba(255,255,255,0)'}">
  <span *ngIf="isAudio(message)"><audio style="border-radius: 25px;" controls><source [src]="message.from.urlPod + 'dechat/files/' + message.text" type="audio/mpeg"><a target="_blank" [href]="message.from.urlPod + 'dechat/files/' + message.text">Your browser does not support audio elements, click to listen!</a></audio></span>
  <span *ngIf="isImage(message)"><a target="_blank" [href]="message.from.urlPod + 'dechat/files/' + message.text"><img style="height: 130px; max-width: 250px; border-radius: 25px;" [src]="message.from.urlPod + 'dechat/files/' + message.text"></a></span>
  <span class="msg_time" [ngStyle]="received ? {'width': '100px'} : {'right': '0', 'left': 'auto', 'width': '100px'}">{{message.date | date:'dd-MM HH:mm'}}</span>
</div>

<div [ngClass]="received ?  'msg_cotainer_send' : 'msg_cotainer'" *ngIf="message.isMedia && !isRepresentable(message)" [ngStyle]="received ? {'text-align': 'left'} : {'text-align': 'right'}">
  <span><a target="_blank" [href]="message.from.urlPod + 'dechat/files/' + message.text">Click to see the file (.{{getExtension(message)}})</a></span>
  <span class="msg_time" [ngStyle]="received ? {'width': '100px'} : {'right': '0', 'left': 'auto', 'width': '100px'}">{{message.date | date:'dd-MM HH:mm'}}</span>
</div>
