<div class="card">
  <div class="card-header msg_head">
    <div class="d-flex bd-highlight">
      <div class="img_cont">
        <img *ngIf="contact != null" src="{{contact == null ? 'assets/default_icon.png' : contact.imageUrl}}" class="rounded-circle user_img">
        <img *ngIf="contact == null" src="assets/favicon.png" class="rounded-circle user_img">
      </div>
      <div class="user_info">
        <span *ngIf="contact as value; else select">{{value.nickname}}</span>
        <ng-template #select><span style="color:white; font-size:0.8em;">&copy; All rights reserved</span></ng-template>
        <p *ngIf="contact as value;">{{value.urlPod}}</p>
      </div>
    </div>
    <span id="action_menu_btn" (click)="showMenu()"><i class="fas fa-ellipsis-v"></i></span>
    <div class="action_menu">
      <ul>
        <li id="logout_btn" (click)="logout()"><i class="fas fa-power-off"></i>Logout</li>
        <li id="delete_contact_btn" *ngIf="contact != null" (click)="deleteContact()"><i class="fas fa-user-minus"></i>Delete contact</li>
      </ul>
    </div>
  </div>
  <div #messsages class="card-body msg_card_body" id="messagesBox">
    <p *ngIf="contact == null" style="color: white; text-align: center;">Welcome to DeChat!</p>
    <app-message *ngFor="let message of messages; last as isLast"
                 [message]="message"
                 [ngClass]="[message.to.urlPod == myContact.urlPod ? 'justify-content-start' : 'justify-content-end', 'd-flex', 'mb-4']"
                 [received]="message.to.urlPod == myContact.urlPod"
                 bind-target = "isLast"></app-message>
  </div>
  <div class="card-footer">
    <div class="input-group">
      <textarea [placeholder]="contact != null ? 'Type your message...' : 'Select a contact to continue'"
                class="form-control type_msg" name="message"
                type="text"
                (keypress)="sendMessage($event)" [(ngModel)]="message" [disabled]="contact == null"></textarea>
      <div class="input-group-append" (click)="sendMessage(null)">
        <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
      </div>
    </div>
  </div>
</div>
